body {
  overflow-x: hidden; }
  body ul, body li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 16px; }
  body h1 {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 3.75em;
    line-height: 1.25;
    word-spacing: 2px;
    letter-spacing: 2px; }
  body h2 {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    color: #282828;
    font-size: 2.5em;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1.3; }
  body h3 {
    font-family: "Exo";
    color: #ff6d6d;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 3px; }
  body h4 {
    font-family: "Exo Thin";
    color: #282828;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1.3;
    font-size: 1.375em; }
  body button {
    outline: none;
    background: none;
    border: none; }
    body button:hover {
      outline: none; }
    body button:focus {
      outline: none; }
  body input, body input:focus {
    outline: none; }
  body span#tomato_color {
    color: #ff6d6d; }

header {
  background-image: url("../img/bg_header.jpg");
  background-size: cover;
  background-position: center;
  color: #282828;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 11%; }

.header_nav_menu {
  display: none; }

.header_title {
  clear: both; }

.header_play {
  margin: 0 auto;
  padding: 0 0 2.7% 0; }
  .header_play button#header_btn_play {
    padding: 0 0 0 0;
    width: 59px;
    height: 59px; }
  .header_play button#header_btn_play svg {
    background-color: #8286a3;
    border-radius: 50%; }
  .header_play button#header_btn_play:hover {
    transform: scale(1.125);
    -ms-transform: scale(1.125);
    -webkit-transform: scale(1.125);
    -moz-box-transform: scale(1.125); }
  .header_play button#header_btn_play:hover {
    border-radius: 51%;
    -webkit-box-shadow: -1px -2px 54px 8px #8286a3;
    -moz-box-shadow: -1px -2px 54px 8px #8286a3;
    box-shadow: -1px -2px 54px 8px #8286a3; }

.header_try_now button#try_now {
  background-color: #ff6d6d;
  width: 190px;
  height: 50px;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  font-family: "Exo", sans-serif;
  font-weight: 400; }
  .header_try_now button#try_now:hover {
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    background-color: rgba(255, 109, 109, 0.75); }

.header_try_now p {
  font-family: "Exo", sans-serif;
  font-weight: 500;
  color: rgba(40, 40, 40, 0.659);
  font-size: 0.875em; }

.section_2 {
  padding-top: 10%;
  padding-bottom: 6%;
  background-image: url("../img/bg_section_2.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 40%; }

.section_2_desctiption {
  float: left; }
  .section_2_desctiption h2 {
    margin: 0 0 0.55em 0; }
  .section_2_desctiption h3 {
    margin: 0 0;
    text-transform: uppercase; }
  .section_2_desctiption p {
    color: rgba(40, 40, 40, 0.659);
    line-height: 1.625;
    font-family: "Exo";
    font-weight: 500;
    padding-left: 0px; }

.section_2_gadget .section_2_gadget_svg {
  filter: drop-shadow(-2px 9px 10px rgba(0, 0, 0, 0.6)); }

.section_3 {
  padding-top: 7%;
  padding-bottom: 11%;
  background-color: #f6f5f3;
  background-image: url("../img/bg_section_3_pen_holder.png"), url("../img/bg_section_3_earphones.png"), url("../img/bg_section_3_coffee_cup.png");
  background-repeat: no-repeat;
  background-position: 7% -4%, 87% -4%, 94% 129%; }

.section_3_title {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 6.8%; }
  .section_3_title h2 {
    margin: 0 0; }
  .section_3_title h3 {
    margin: 0 0;
    text-transform: uppercase; }

.group_awesome img {
  display: block;
  margin: 0 auto; }
.group_awesome h4 {
  margin-top: 1.1em;
  margin-bottom: 0;
  font-size: 1.375em;
  text-align: center;
  color: #282828;
  font-weight: 700; }
.group_awesome p {
  color: rgba(40, 40, 40, 0.659);
  line-height: 1.625;
  font-family: "Exo";
  font-weight: 500;
  margin-top: 0.6em;
  text-align: center; }

.description {
  background-image: url("../img/bg_description.svg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100%;
  padding-top: 6.5%;
  padding-bottom: 5%; }

.description .description_macbook_text h2 {
  margin: 0 0 0.55em 0; }
.description .description_macbook_text h3 {
  margin: 0 0 0.5em 0;
  text-transform: uppercase; }
.description .description_macbook_text p {
  color: rgba(40, 40, 40, 0.659);
  line-height: 1.625;
  font-family: "Exo";
  font-weight: 500;
  padding-left: 0px;
  margin-top: 0.1em; }

.description_macbook svg {
  padding: 0 0 0 4%; }

.reviews {
  background-image: url("../img/bg_feedback.jpg");
  background-repeat: no-repeat;
  padding-top: 6%;
  padding-bottom: 4%;
  text-align: center;
  background-size: cover; }
  .reviews img#reviews_content_photo {
    border: 2px solid #1d1e24;
    background-color: #4e4e5e;
    width: 80px;
    height: 80px; }
  .reviews h4 {
    font-size: 1.4em;
    color: white;
    margin-bottom: 0px; }
  .reviews h5 {
    color: #ff6d6d;
    margin-top: 3px; }
  .reviews p {
    color: rgba(255, 255, 255, 0.659);
    line-height: 1.625;
    padding: 5px 10px 0 10px;
    font-family: "Exo";
    font-weight: 500;
    font-style: italic; }

.reviews_partner_row {
  padding-top: 7%;
  margin: 0 auto; }

.browser {
  padding-top: 6%;
  text-align: center; }
  .browser h2 {
    margin-top: 0px;
    margin-bottom: 15px; }
  .browser h3 {
    margin-bottom: 0px;
    text-transform: uppercase;
    color: #ff6d6d;
    margin-top: 12px; }
  .browser p {
    color: rgba(40, 40, 40, 0.659);
    line-height: 1.625;
    font-family: "Exo";
    font-weight: 500;
    padding: 0 15px 75px 15px; }

.browser_img {
  padding-top: 200px;
  padding-bottom: 170px;
  background-image: url("../img/bg_browser.png");
  background-repeat: no-repeat;
  background-position: 50% 0%;
  text-align: center; }

.feedback_form {
  background-color: #323969;
  padding-top: 6%;
  padding-bottom: 5%; }

.feedback_form_title {
  text-align: center; }
  .feedback_form_title h2 {
    color: white;
    margin-top: 0px;
    margin-bottom: 15px; }
  .feedback_form_title h3 {
    color: #ff6d6d;
    margin-bottom: 0px;
    margin-top: 10px; }

.feedback_form_trial_anot {
  float: right;
  color: #f6f5f3; }
  .feedback_form_trial_anot span img {
    margin: 15px 0 0 0; }
  .feedback_form_trial_anot p {
    font-family: "Exo";
    font-weight: 400;
    margin-top: 0px; }

form {
  display: table;
  font-family: "Exo";
  font-weight: 400; }
  form input[type="text"] {
    display: table-cell;
    border: 1px solid white;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 256px;
    height: 47px;
    color: #f6f5f3;
    text-transform: uppercase;
    padding: 0 20px;
    margin: 15px 15px 15px 15px; }
    form input[type="text"]:hover {
      border: 1px solid rgba(255, 255, 255, 0.4); }
    form input[type="text"]:focus {
      -webkit-box-shadow: -1px -2px 50px 7px rgba(255, 109, 109, 0.28);
      -moz-box-shadow: -1px -2px 50px 7px rgba(255, 109, 109, 0.28);
      box-shadow: -1px -2px 50px 7px rgba(255, 109, 109, 0.28); }
  form input[type="button"] {
    display: table-cell;
    border: 1px solid #ff6d6d;
    border-radius: 3px;
    background-color: #ff6d6d;
    width: 256px;
    height: 48px;
    box-shadow: 0px 3px 3px 0px rgba(14, 15, 15, 0.25);
    color: #f6f5f3;
    text-transform: uppercase;
    margin-left: 15px;
    margin-right: 15px; }
    form input[type="button"]:hover {
      transform: scale(1.05);
      -ms-transform: scale(1.05);
      -webkit-transform: scale(1.05); }

p#feedback_form_term_s {
  font-family: "Exo";
  font-weight: 400;
  margin-top: 50px;
  text-align: center;
  color: rgba(246, 245, 243, 0.6); }
  p#feedback_form_term_s a, p#feedback_form_term_s a:visited {
    color: rgba(246, 245, 243, 0.6);
    text-decoration: none;
    border-bottom: 1px solid rgba(246, 245, 243, 0.6); }
    p#feedback_form_term_s a:hover, p#feedback_form_term_s a:visited:hover {
      color: white; }

.footer {
  padding-top: 3%;
  padding-bottom: 3%;
  background-image: url("../img/bg_footer.svg");
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: 25%;
  line-height: 1.857; }
  .footer h4 {
    font-family: "Exo";
    font-weight: 500;
    margin-bottom: 22px; }
  .footer a, .footer a:visited {
    color: rgba(40, 40, 40, 0.659); }

.adress h4 {
  margin-bottom: 0px; }
.adress img#footer_startex_img {
  margin-top: -4px; }
.adress p {
  font-size: 0.875em;
  color: rgba(40, 40, 40, 0.659);
  line-height: 1.625;
  font-family: "Exo";
  font-weight: 500; }

ul, li {
  font-size: 0.875em;
  color: rgba(40, 40, 40, 0.659);
  font-family: "Exo";
  font-weight: 400; }

.footer_feedback_form form input[type="text"] {
  float: left;
  margin: 0 0 0 0;
  border: 1px solid rgba(78, 78, 94, 0.4);
  border-radius: 3px 0 0 3px;
  background-color: rgba(141, 141, 141, 0.1);
  color: rgba(0, 0, 0, 0.4);
  width: 220px;
  height: 47px;
  padding-left: 25px; }
  .footer_feedback_form form input[type="text"]:hover {
    background-color: rgba(141, 141, 141, 0); }
.footer_feedback_form form input[type="button"] {
  font-family: "Exo";
  font-weight: 400;
  float: left;
  margin: 0 0 0 -2px;
  width: 50px;
  height: 47px;
  background-image: url("../icon/footer_letter_icon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0px 3px 3px 0px rgba(14, 15, 15, 0.25);
  background-color: #ff6d6d; }
  .footer_feedback_form form input[type="button"]:hover {
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75); }

.social_icon {
  margin-left: 10%; }
  .social_icon svg {
    padding: 0 20px;
    margin-top: 25px; }

@media (max-width: 1199px) {
  .header_nav_btn {
    z-index: 11;
    position: fixed;
    display: block;
    top: 1px;
    width: 50px;
    height: 50px;
    background-color: rgba(130, 134, 163, 0.9);
    margin: 15px 0 0 0;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.7);
    right: 15px; }
    .header_nav_btn:hover {
      background-color: rgba(130, 134, 163, 0.6);
      box-shadow: 0px 0px 10px 10px rgba(130, 134, 163, 0.86);
      -webkit-box-shadow: 0px 0px 10px 10px rgba(130, 134, 163, 0.86);
      -moz-box-shadow: 0px 0px 10px 10px rgba(130, 134, 163, 0.86); }
    .header_nav_btn span {
      display: block;
      margin: 23px auto 0 auto;
      width: 27px;
      height: 3px;
      background-color: white; }
      .header_nav_btn span:before, .header_nav_btn span:after {
        content: " ";
        display: block;
        width: 27px;
        height: 3px;
        background-color: white; }
      .header_nav_btn span:before {
        position: absolute;
        margin-top: -8px;
        transition: all 1s; }
      .header_nav_btn span:after {
        transition: all 1s;
        position: absolute;
        margin-top: 8px; }

  .header_nav_btn_active {
    z-index: 11;
    position: fixed;
    display: block;
    width: 50px;
    height: 50px;
    background-color: rgba(130, 134, 163, 0.9);
    margin: 15px 0 0 0;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.7);
    right: 15px; }
    .header_nav_btn_active:hover {
      background-color: rgba(130, 134, 163, 0.6);
      box-shadow: 0px 0px 10px 10px rgba(130, 134, 163, 0.86);
      -webkit-box-shadow: 0px 0px 10px 10px rgba(130, 134, 163, 0.86);
      -moz-box-shadow: 0px 0px 10px 10px rgba(130, 134, 163, 0.86); }
    .header_nav_btn_active span {
      background-color: transparent; }
      .header_nav_btn_active span:before {
        margin: 0 auto;
        transition: all 1s;
        transform: rotate(315deg); }
      .header_nav_btn_active span:after {
        margin: 0 auto;
        transition: all 1s;
        transform: rotate(-315deg); }

  .header_nav_menu {
    display: block;
    z-index: 5;
    position: fixed;
    top: -0.08vw;
    left: -100vw;
    background-color: rgba(130, 134, 163, 0.8);
    width: 100vw;
    height: 100%;
    transition: all 0.8s; }
    .header_nav_menu ul {
      width: 100%;
      height: 100%; }
    .header_nav_menu ul li {
      width: 100%;
      height: 12%; }
      .header_nav_menu ul li:hover {
        background-color: rgba(0, 0, 0, 0.5); }
    .header_nav_menu ul li a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: white;
      font-size: 1em; }
      .header_nav_menu ul li a:visited {
        color: white;
        text-decoration: none; }
      .header_nav_menu ul li a:hover {
        color: rgba(252, 252, 167, 0.8);
        text-decoration: none; }

  .header_nav_menu_active {
    left: 0; }

  .header_title h1 {
    padding-top: 25px;
    font-size: 3em; }

  .header_try_now p {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

  .section_2 {
    background-size: 50%;
    background-position: 100% 100%;
    background-image: url("../img/bg_section_2_responsive.svg");
    text-align: center; }

  .section_2_desctiption h2 {
    padding-bottom: 20px; }

  .section_2 p {
    padding-left: 15px;
    padding-right: 15px; }

  .section_2_gadget_svg {
    padding-top: 20px;
    float: right;
    width: 60%; }

  .section_3 {
    background-position: 0% -4%, 95% -4%, 94% 129%;
    padding-bottom: 8%; }

  .group_awesome {
    padding-bottom: 30px; }
    .group_awesome p {
      padding-right: 15px;
      padding-left: 15px; }

  .description {
    background-position: -400px 0%;
    background-size: 100%;
    clear: both; }

  .description_macbook {
    margin-right: auto;
    margin-left: auto;
    float: none; }

  .description_macbook_text {
    padding-top: 30px;
    text-align: center; }
    .description_macbook_text h2 {
      padding-bottom: 15px; }

  .description_macbook svg {
    padding: 0px; }

  .reviews_content p {
    padding: 0px 10px 20px 10px; }

  .browser {
    padding-bottom: 0px; }

  .browser_img {
    background-position: 50% 0%; }

  .feedback_form_trial_anot {
    display: none; }

  form.feedback_form_body {
    margin: 0 auto; }
    form.feedback_form_body input {
      width: 22%;
      margin: 15px 10px; }

  .footer {
    background-position: 100% 0%;
    background-size: 30%; } }
@media (max-width: 992px) {
  body {
    font-size: 14px; }

  .section_3 {
    background-position: -10% -4%, 98% -5%, 94% 129%; }

  .description {
    background-position: -200px -50px;
    background-size: 100%; }

  .reviews_partner_5 {
    padding-bottom: 25px; }

  .section_2_desctiption h2 {
    font-size: 1.75em; }

  .section_3_title h2 {
    font-size: 1.75em; }

  .description_macbook_text h2 {
    font-size: 1.75em; }

  .browser h2 {
    font-size: 1.75em; }

  .feedback_form_title h2 {
    font-size: 1.75em; }

  .browser p {
    padding-bottom: 25px; }

  .browser_img {
    margin: 0 auto;
    background-position: 0% 0;
    background-size: 100%;
    padding-top: 200px;
    padding-bottom: 30px; }

  form.feedback_form_body {
    width: 100%;
    margin: 0 auto; }
    form.feedback_form_body input {
      display: block;
      width: 92%;
      margin: 15px 4%; }

  .footer h4 {
    margin-top: 25px;
    margin-bottom: 0px; } }
@media (max-width: 767px) {
  header {
    padding-top: 25px;
    padding-bottom: 25px; }

  .footer .container {
    max-width: 738px; }

  .header_title h1 {
    font-size: 2.5em;
    padding-bottom: 15px; }

  .section_2 {
    padding-top: 25px;
    padding-bottom: 25px; }

  .section_3 {
    background-position: -300px -4%, -200px -5%, -400px 0%;
    padding-top: 25px;
    padding-bottom: 25px; }

  .description {
    background-position: -200px 0px;
    background-size: 125% 125%;
    padding-top: 25px;
    padding-bottom: 25px; }

  .browser {
    padding-top: 40px;
    padding-bottom: 35px; }

  .browser_img {
    display: none; }

  .reviews {
    padding-top: 25px;
    padding-bottom: 25px; }

  .reviews_partner_row {
    display: inline; }

  .reviews_partner_item {
    display: inline; }

  .footer_feedback_form form {
    width: 100%; }
    .footer_feedback_form form input[type="text"] {
      width: 70%; } }

/*# sourceMappingURL=main.css.map */
